/* For Sticky Footers::after
    https://getbootstrap.com/docs/4.0/examples/sticky-footer/
    */

html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url("../images/concrete-texture.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-bottom: 60px;
    min-width: 650px;
}

.bigFont {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mainColor {
    color: #4ca8a4;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: #666666;
    color: #b3b3a6;
    border-top: 3px solid #4ca8a4;
}

.tops {
    border-bottom: 2px solid #cbcbcb;
    color: #4da8a3;
}

#sidebar {
    border: .5px solid #cbcbcb;
    min-width: 200px;
}

.bug {
    width: 60px;
    height: 60px;
    padding: 0 10px 20px 10px;
}

.tile-image{
    max-height: 100%;
    max-width: 100%;
    margin: 4px 0;
    border: 1px solid black;
}

.tile-tag{
    background: #b3b3a6;
    opacity: .9;
    width: 100%;
    font-weight: bold;
    bottom: 10px;
}

.tile-row{
    max-height: 200px;
}

.btn-submit{
    background: #b3b3a6;
}